# Node modules (local)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Build output
build
dist

# Runtime
.cache
coverage

# Git
.git
.gitignore
.gitattributes

# Environment files
.env
.env.*        # .env.local, .env.production, v.v

# OS/System files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode
.idea
*.swp
*.swo

# Test snapshots
__snapshots__

# Misc
*.log
*.tgz
*.zip
*.tar
*.map
